<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div id="myApp">
       <input type="text" v-model="a">
       <input type="text" v-model="b">
       <input type="text" v-model="result">
    </div>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el:'#myApp',
            data:{
                a:0,
                b:0
            },  
            computed:{
                result:function(){
                    return Number(this.a) + Number(this.b);
                }
            }
        });
        vm.$watch('message2',function(now,pre){
            console.log(now,pre);
        })
    </script>
</body>
</html>