<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div id="demo">
    <!--数组的迭代-->
    <ul>
      <li v-for="(item,index) in arr">{{item}} - {{index}}</li>
    </ul>
    <!--对象的迭代-->
    <ul>
      <li v-for="(value,key) in obj">{{key}} - {{value}}</li>
    </ul>
    <!--vue特有的迭代-->
    <ul>
    <li v-for="n in 10">{{n}}</li>
    </ul>
  </ul>
  </div>
  <script src="vue.js"></script>
  <script>
    var app = new Vue({
      el:"#demo",
      data:{
        arr:[2,3,4],
        obj:{name:"eric zheng",sex:"male"}
      }
    });
  </script>
</body>
</html>